<main class="home-container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-icon color="primary" fontIcon="menu_book" class="home-icon"></mat-icon>
      <mat-card-title>
        GetPapierek – Biblioteka Uniwersytecka
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Witamy w <strong>GetPapierek</strong>! Ta aplikacja umożliwia
        studentom i pracownikom łatwe przeglądanie, wyszukiwanie oraz
        zarządzanie książkami w bibliotece uniwersyteckiej. Możesz sprawdzić
        dostępność książek, zarządzać swoimi wypożyczeniami i wiele więcej –
        wszystko w jednym miejscu.
      </p>
      <ul>
        <li>🔍 Wyszukuj książki i kategorie</li>
        <li>📚 Przeglądaj szczegółowe informacje o każdej książce</li>
        <li>📝 Zarządzaj swoimi wypożyczeniami i zwrotami</li>
        <li>👤 Przyjazny interfejs dla studentów i pracowników</li>
      </ul>
      <p>
        Zacznij przeglądać zasoby biblioteki lub zaloguj się, aby zarządzać
        swoim kontem!
      </p>
    </mat-card-content>
  </mat-card>
</main>