<mat-toolbar color="primary" class="navbar">
    <a class="navbar-title" routerLink="/" style="text-decoration: none; color: inherit">
        <mat-icon>menu_book</mat-icon>
        GetPapierek
    </a>
    <span class="spacer"></span>
    <button mat-button routerLink="/ksiazki">
        <mat-icon>menu_book</mat-icon> Książki
    </button>
    <button mat-button routerLink="/wypozyczenia">
        <mat-icon>assignment_returned</mat-icon> Wypożyczenia
    </button>
    <button mat-button routerLink="/uzytkownicy">
        <mat-icon>people</mat-icon> Użytkownicy
    </button>
</mat-toolbar>
