<mat-toolbar color="primary" class="navbar">
  <a class="navbar__title" routerLink="/">
    <mat-icon>menu_book</mat-icon>
    GetPapierek
  </a>
  <span class="navbar__spacer"></span>
  <button mat-button routerLink="/ksiazki" class="navbar__link">
    <mat-icon>menu_book</mat-icon>
    Książki
  </button>
  <button mat-button routerLink="/wypozyczenia" class="navbar__link">
    <mat-icon>assignment_returned</mat-icon>
    Wypożyczenia
  </button>
  <button mat-button routerLink="/uzytkownicy" class="navbar__link">
    <mat-icon>people</mat-icon>
    Użytkownicy
  </button>
</mat-toolbar>