<div class="books-list-container">
  <h2>Lista książek</h2>

  <app-books-search></app-books-search>

  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Szukaj po tytule, autorze lub kategorii...</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
    <button mat-icon-button *ngIf="searchTerm" matSuffix (click)="searchTerm=''; onSearchChange()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 books-table">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tytuł</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok wydania</th>
      <td mat-cell *matCellDef="let book">{{ book.publicationYear }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategoria</th>
      <td mat-cell *matCellDef="let book">{{ book.category?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="shelf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Półka</th>
      <td mat-cell *matCellDef="let book">{{ book.shelf }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title','author','year','category','shelf']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title','author','year','category','shelf'];"></tr>
  </table>
</div>