<h2 class="users-list__title">Lista użytkowników</h2>

<div class="users-list__search">
  <app-search-box [(value)]="searchTerm" label="Szukaj po imieniu, nazwisku lub emailu..."
    (valueChange)="onSearchChange()" class="users-list__search">
  </app-search-box>
</div>
<div class="users-list">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 users-list__table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię i nazwisko</th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }} {{ user.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name','email']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','email'];"></tr>
    <tr *ngIf="dataSource.data.length === 0" class="users-list__empty-row">
      <td colspan="2" class="users-list__empty">Brak użytkowników do wyświetlenia</td>
    </tr>
  </table>
  <div *ngIf="filteredUsers.length === 0" class="users-list__empty">
    {{ searchTerm.trim() ? 'Brak użytkowników spełniających kryteria wyszukiwania' : 'Brak
    użytkowników do wyświetlenia' }}
  </div>
  <button mat-raised-button color="primary" (click)="openAddDialog()" class="users-list__add-btn">
    <mat-icon>add</mat-icon>
    Dodaj użytkownika
  </button>
</div>
