<div class="books-list-container">
  <h2>Lista książek</h2>
  <app-books-search></app-books-search>
  <input type="text" placeholder="Szukaj po tytule, autorze lub kategorii..."
    [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" class="search-input" />
  <table class="books-table">
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Rok wydania</th>
        <th>Kategoria</th>
        <th>Półka</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of filteredBooks">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publicationYear }}</td>
        <td>{{ book.category?.name }}</td>
        <td>{{ book.shelf }}</td>
      </tr>
    </tbody>
  </table>
</div>